version: "3.9"
services:
  termit-nginx:
    build:
      context: nginx
      args:
        CONTEXT: ${ROOT}
    image: termit-nginx
    ports:
      - 80:80
      - 443:443
    restart: always
    depends_on:
      - termit
      - termit-server
      - termit-db-server
  termit-db-server:
    build:
      context: db-server
      args:
        GRAPHDB_ZIP: graphdb-free-9.6.0-dist.zip
    image: termit-db-server
    environment:
      GDB_JAVA_OPTS: >-
        -Dgraphdb.external-url=${URL}${ROOT}/sluzby/db-server
    restart: always
    ports:
      - "7200:7200"
    volumes:
      - termit-db-server:/graphdb/home
  termit-server:
    depends_on:
      - termit-db-server
    image: termit-server
    environment:
      TERMIT_REPOSITORY_URL: http://termit-db-server:7200/repositories/termit
      TERMIT_REPOSITORY_PUBLICURL: ${URL}${ROOT}/sluzby/db-server/repositories/termit
      TERMIT_SERVER_SERVLET_CONTEXT-PATH: ${ROOT}/sluzby/server
      TERMIT_FILE_STORAGE: /tmp/storage
      TERMIT_TEXTANALYSIS_URL: http://annotace-server:8888/annotate?enableKeywordExtraction=true
    ports:
      - "8080:8080"
    volumes:
      - termit-server:/tmp
  annotace-server:
    image: ghcr.io/kbss-cvut/annotace/annotace-spark:latest
    ports:
      - "8888:8080"
    volumes:
      - annotace-server:/tmp
  termit:
    depends_on:
      - termit-server
    image: termit
    environment:
      SERVER_URL: ${URL}${ROOT}/sluzby/server
      ADMIN_REGISTRATION_ONLY: "true"
      SHOW_PUBLIC_VIEW_ON_UNAUTHORIZED: "true"
      GOOGLE_LOGIN: "false"
      GITHUB_LOGIN: "false"
      DEPLOYMENT:
    ports:
      - "3000:80"
volumes:
  termit-db-server:
  termit-server:
  annotace-server:
