services:
    prometheus:
        build: ./prometheus
        restart: unless-stopped
        volumes:
            - "./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml"
        environment:
            PROM_USERNAME: ${ACTUATOR_USERNAME}
            PROM_PASSWORD: ${ACTUATOR_PASSWORD}
        ports:
            - "9090:9090"
    grafana:
        image: grafana/grafana
        restart: unless-stopped
        environment:
            GF_DASHBOARDS_MIN_REFRESH_INTERVAL: "1s"
            GF_USERS_ALLOW_SIGN_UP: false
            GF_SERVER_ROOT_URL: ${URL}${ROOT}/sluzby/monitoring/
            GF_SECURITY_ADMIN_USER: ${GRAFANA_USERNAME}
            GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_PASSWORD}
        volumes:
            - ./grafana/provisioning:/etc/grafana/provisioning
            - grafana-data:/var/lib/grafana

volumes:
    grafana-data:
